.green {
  box-shadow: 0px 43.6241px 12.1178px rgba(0, 150, 0, 0.01), 0px 27.871px 10.906px rgba(0, 150, 0, 0.05), 0px 15.7531px 9.69425px rgba(0, 150, 0, 0.18), 0px 7.27068px 7.27068px rgba(0, 150, 0, 0.3), 0px 1.81767px 3.63534px rgba(0, 150, 0, 0.34), 0px 0px 0px rgba(0, 150, 0, 0.35);
}
.red {
  box-shadow: 0px 44.0035px 12.0557px rgba(255, 7, 7, 0.01), 0px 27.7282px 11.453px rgba(255, 7, 7, 0.04), 0px 15.6725px 9.6446px rgba(255, 7, 7, 0.15), 0px 7.23345px 7.23345px rgba(255, 7, 7, 0.26), 0px 1.80836px 3.61672px rgba(255, 7, 7, 0.29), 0px 0px 0px rgba(255, 7, 7, 0.3);

}

.orange{
  box-shadow: 0px 43.6337px 12.5724px rgba(255, 97, 7, 0.01), 0px 28.1031px 11.0933px rgba(255, 97, 7, 0.04), 0px 15.5306px 9.61421px rgba(255, 97, 7, 0.15), 0px 6.65599px 6.65599px rgba(255, 97, 7, 0.26), 0px 1.47911px 3.69777px rgba(255, 97, 7, 0.29), 0px 0px 0px rgba(255, 97, 7, 0.3);
}