.green {
  box-shadow: 0px 51.0353px 14.1765px rgba(0, 150, 0, 0.01), 0px 32.6059px 12.7588px rgba(0, 150, 0, 0.05), 0px 18.4294px 11.3412px rgba(0, 150, 0, 0.18), 0px 8.50589px 8.50589px rgba(0, 150, 0, 0.3), 0px 2.12647px 4.25294px rgba(0, 150, 0, 0.34), 0px 0px 0px rgba(0, 150, 0, 0.35);
}

.orange{
  box-shadow: 0px 51.0466px 14.7083px rgba(255, 97, 7, 0.01), 0px 32.8774px 12.9779px rgba(255, 97, 7, 0.04), 0px 18.1691px 11.2475px rgba(255, 97, 7, 0.15), 0px 7.78676px 7.78676px rgba(255, 97, 7, 0.26), 0px 1.73039px 4.32598px rgba(255, 97, 7, 0.29), 0px 0px 0px rgba(255, 97, 7, 0.3);
}

.red {
  box-shadow: 0px 51.745px 14.1767px rgba(255, 7, 7, 0.01), 0px 32.6064px 13.4679px rgba(255, 7, 7, 0.04), 0px 18.4297px 11.3414px rgba(255, 7, 7, 0.15), 0px 8.50602px 8.50602px rgba(255, 7, 7, 0.26), 0px 2.12651px 4.25301px rgba(255, 7, 7, 0.29), 0px 0px 0px rgba(255, 7, 7, 0.3);
}